<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>oAuthTokenEndPoint</key>
		<string>https://idcs-3ef41a29e16c480ba63f9bfc16d76240.identity.oraclecloud.com/oauth2/v1/token</string>
		<key>logLevel</key>
		<string>info</string>
		<key>mobileBackend</key>
		<dict>
			<key>name</key>
			<string>TEST_MB</string>
			<key>baseURL</key>
			<string>https://3BC47CF3C3524C519DAC47FF23CF101E.mobile.ocp.oraclecloud.com:443</string>
			<key>authentication</key>
			<dict>
				<key>type</key>
				<string>basic</string>
				<key>basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>65610ae7-2691-4b44-8c0a-21955009f38f</string>
					<key>anonymousKey</key>
					<string>U19SR19QUkRfRUNNT0JGVEQ6QWxUUm9TTiRTdw==</string>
				</dict>
			</dict>
			<key>synchronization</key>
			<dict>
				<key>maxStoreSize</key>
				<integer>100</integer>
				<key>periodicRefreshPolicy</key>
				<string>PERIODIC_REFRESH_POLICY_PERIODICALLY_REFRESH_EXPIRED_ITEMS</string>
				<key>periodicRefreshInterval</key>
				<integer>120</integer>
				<key>policies</key>
				<array/>
				<key>defaultPolicy</key>
				<dict>
					<key>fetchPolicy</key>
					<string>FETCH_FROM_SERVICE_IF_ONLINE</string>
					<key>evictionPolicy</key>
					<string>EVICT_ON_EXPIRY_AT_STARTUP</string>
					<key>expirationPolicy</key>
					<string>EXPIRE_AFTER</string>
					<key>expireAfter</key>
					<string>150</string>
					<key>conflictResolutionPolicy</key>
					<string>CLIENT_WINS</string>
				</dict>
			</dict>
		</dict>
	</dict>
</plist>
